<!DOCTYPE html>
<html>
<head>
    <title>Booth Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='concerts.css') }}">
    <script>
        function showPopup(message) {
            alert(message);
        }
    </script>
</head>
<body>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="{{ url_for('concert.concerts') }}">Concerts</a></li>
    <li><a href="{{ url_for('profile.view_profile') }}">Profile</a></li>
    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
  </ul>
</nav>

    <h1>Booth Page</h1>
    <h2>Select Date, Venue, Ticket Category, and Quantity</h2>
    <form action="{{ url_for('purchase.summary', concert_id=concert.concert_id) }}" method="post">
        <input type="hidden" name="concert_name" value="{{ concert.name }}">
        <input type="hidden" name="concert_id" value="{{ concert.id }}">
        <label for="date">Select Date:</label>
        <select id="date" name="date">
            {% for date_option in concert.dates %}
                <option value="{{ date_option }}">{{ date_option }}</option>
            {% endfor %}
        </select>
        <label for="venue">Select Venue:</label>
        <select id="venue" name="venue">
            {% for venue_option in concert.venues %}
                <option value="{{ venue_option }}">{{ venue_option }}</option>
            {% endfor %}
        </select>
        <label for="category">Select Category:</label>
        <select id="category" name="category">
            {% for category_option in concert.categories %}
                <option value="{{ category_option }}">{{ category_option }}</option>
            {% endfor %}
        </select>
        <label for="quantity">Select Quantity (Limit: {{ concert.limit_per_person }}):</label>
        <select id="quantity" name="quantity">
            {% for quantity_option in range(1, concert.limit_per_person + 1) %}
                <option value="{{ quantity_option }}">{{ quantity_option }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Proceed">
    </form>
</body>
</html>
