<!DOCTYPE html>
<html>
<head>
    <title>Concert Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{{ url_for('concerts.concerts') }}">Concerts</a></li>
            <li><a href="{{ url_for('profile.view_profile') }}">Profile</a></li>
        </ul>
    </nav>

    <h1>Concert Details</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Dates</th>
            <th>Venues</th>
            <th>Tickets Available</th>
            <th>Start Ticket Sale</th>
            <th>End Ticket Sale</th>
            <th>Limit Per Person</th>
            <th>Total Tickets for Sale</th>
        </tr>
        <tr>
            <td>{{ concert.name }}</td>
            <td>{{ concert['dates'] | join('') }}</td>
            <td>{{ concert['venues'] | join('') }}</td>
            <td>{{ concert['categories'] | join('') }}</td>
            <td>{{ concert['start_ticket_sale'] }}</td>
            <td>{{ concert['end_ticket_sale'] }}</td>
            <td>{{ concert['limit_per_person'] }}</td>
            <td>{{ concert['total_tickets_for_sale'] }}</td>
        </tr>
    </table>
    <a href="{{ url_for('purchase.booth', concert_id=concert.id) }}"><button>Buy Tickets</button></a>
</body>
</html>
