<!DOCTYPE html>
<html>
<head>
    <title>Concert Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='concerts.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{{ url_for('concerts.concerts') }}">Concerts</a></li>
            <li><a href="{{ url_for('profile.view_profile') }}">Profile</a></li>
        </ul>
    </nav>

    <h1>Concert Details</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Dates</th>
            <th>Venues</th>
            <th>Tickets Available</th>
            <th>Start Ticket Sale</th>
            <th>End Ticket Sale</th>
            <th>Limit Per Person</th>
            <th>Total Tickets for Sale</th>
        </tr>
        <tr>
            <td>{{ concert.name }}</td>
            <td>
              {% for date in concert['dates'] %}
              {{ date }}<br>
              {% endfor %}
            </td>
            <td>
              {% for venue in concert['venues'] %}
              {{ venue }}<br>
              {% endfor %}
            </td>
            <td>
              {% for category in concert['categories'] %}
              {{ category }}<br>
              {% endfor %}
            </td>
            <td>{{ concert['start_ticket_sale'] }}</td>
            <td>{{ concert['end_ticket_sale'] }}</td>
            <td>{{ concert['limit_per_person'] }}</td>
            <td>{{ concert['total_tickets_for_sale'] }}</td>
        </tr>
    </table>
    <a href="http://127.0.0.1:5001/concert/2/waiting_room"><button>Buy Tickets</button></a>
</body>
</html>
