<!DOCTYPE html>
<html>
  <head>
    <title>Ticket Master Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container">
      <header>
        <h1>Ticket Master</h1>
      </header>
      <main>
        <div class="login-form">
          <h2>Login</h2>

          <form method="POST" action="{{ url_for('auth.login') }}">
            {{ form.hidden_tag() }}

            <label for="{{ form.username.id }}">Username</label>
            {{ form.username(class="form-control", placeholder="Username", required="required") }}

            <label for="{{ form.password.id }}">Password</label>
            {{ form.password(class="form-control", placeholder="Password", required="required") }}

            {{ form.recaptcha() }}
            {% for error in form.recaptcha.errors %}
            <p style="color:red;">{{ error }}</p>
            {% endfor %}
            <input type="submit" value="Login" />
          </form>

          <p>
            Don't have an account?
            <a href="{{ url_for('auth.register') }}">Register</a>
          </p>
        </div>
      </main>
      <footer>
        <p>&copy; 2023 Ticket Master</p>
      </footer>
    </div>
  </body>
</html>
