<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Profile</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='profile.css') }}"
    />
  </head>
  <body>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="{{ url_for('concert.concerts') }}">Concerts</a></li>
    <li><a href="{{ url_for('profile.view_profile') }}">Profile</a></li>
    <!-- Add the following line for the logout link -->
    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
  </ul>
</nav>

    <header>
      <h1>My Profile</h1>
    </header>

    <section class="profile-info">
      <img
        src="{{ url_for('static', filename='avatar.jpg') }}"
        alt="My Profile Picture"
      />
      <h2>{{ user.username }}</h2>
    </section>

    <footer>
      <p>&copy; 2023 Ticket Master</p>
    </footer>
  </body>
</html>
