<!DOCTYPE html>
<html>
<head>
    <title>Queue Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{{ url_for('concert.concerts') }}">Concerts</a></li>
            <li><a href="{{ url_for('profile.view_profile') }}">Profile</a></li>
        </ul>
    </nav>

    <h1>Queue Page</h1>
    <p>Join the queue to purchase tickets.</p>
    <form action="{{ url_for('queue', concert_id=concert.id) }}" method="post">
        <button type="submit">Join Queue</button>
    </form>
</body>
</html>
